.venv/
.uv/
.pytest_cache/
archive/
**/__pycache__/
*.pyc
.vscode/
src/*.egg-info

#Ignore contents but preserve folder structure
data/*
!data/.gitkeep
output/customers/data/*
!output/customers/data/.gitkeep
output/retail/data/*
!output/retail/data/.gitkeep
output/logs/*
!output/logs/.gitkeep
